*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;

}
th,td{
    border: 1px solid black;
    padding: 10px;
}
.Sony{
    width: 150px;
    margin: 5px;

}
.ImageWidget{
    border: 1px solid black;
}